<p id="notice"><%= notice %></p>

<h1>Interviews</h1>

<div class="panel panel-primary">
  <div class="panel-heading">待面试</div>
  <%= render 'interview_item', :interviews => @interviews.select{|x| x.stats == 0}%>
</div>


<div class="panel panel-info">
  <div class="panel-heading">面试中</div>
  <%= render 'interview_item', :interviews => @interviews.select{|x| [1,2].include? x.stats }%>
</div>


<div class="panel panel-success">
  <div class="panel-heading">已面试</div>
    <%= render 'interview_item', :interviews => @interviews.select{|x| x.stats > 2}%>
  </table>
</div>

<br>

<%= link_to 'New Interview', new_manager_interview_path %>
